name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  # pre-commit:
  #   name: Lint
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: actions/setup-python@v5
  #       with:
  #         python-version: '3.11'
  #     - uses: pre-commit/action@v3.0.1
  unit:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install '.[dev,debug,inference]'

      - name: Run tests
        run: |
          python -m pytest --cov=sc2ts tests/
      # - name: Upload coverage to Coveralls
      #   uses: coverallsapp/github-action@v2.3.0
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}
      #     # The first coveralls upload will succeed and others seem to fail now.
      #     # This is a quick workaround for doing a proper "parallel" setup:
      #     # https://github.com/coverallsapp/github-action
      #     fail-on-error: false

  end_to_end:
    name: End to end tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install '.[inference]'

      - name: Create basedir
        run: |
          mkdir -p testrun
          gunzip -k tests/data/alignments.fasta.gz

      - name: Import alignments
        run: |
          sc2ts import-alignments -i testrun/dataset.zarr tests/data/alignments.fasta

      - name: Import metadata
        run: |
          sc2ts import-metadata testrun/dataset.zarr tests/data/metadata.tsv

      - name: Info dataset
        run: |
          sc2ts info-dataset testrun/dataset.zarr

      - name: Run inference
        run: |
          # doing ~10 days here as this is taking a while
          sc2ts infer tests/data/testrun-conf.toml --stop 2020-02-03

      - name: Validate
        run: |
          sc2ts validate -v --date-field=date testrun/dataset.zarr testrun/results/test/test_2020-02-02.ts

      - name: MatchDB
        run: |
          sc2ts info-matches testrun/test.matches.db

  bare_api:
    name: Bare API tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install '.'
      - name: Compute node data
        run: |
          python3 -c '\
          import sc2ts, tskit; \
          ts = tskit.load("tests/data/cache/2020-02-15_min.ts");\
          df = sc2ts.node_data(ts);\
          print(df)'

  packaging:
    name: Packaging tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build twine validate-pyproject[all]
      - name: Check and install package
        run: |
          validate-pyproject pyproject.toml
          python -m build
          python -m twine check --strict dist/*
          python -m pip install dist/*.whl
